.about-section-main {
    padding: 40px 10%;
    background-color: #111114;
    margin: 0;
    display: flex;
    justify-content: space-between;
    padding: 90px 10%;
    align-items: center;
}

.about-img {
    border-radius: 24px;
    object-fit: cover;
    height: 400px;
    width: 400px;
}

.about-heading {
    color: white;
    font-size: 50px;
    margin: 0;
}

.about-text {
    color: #aaa;
}

.skills {
    color: white;
    border: 1px solid rgb(120, 118, 118);
    border-radius: 24px;
    padding: 10px;
}

.about-section-text {
    padding: 20px 0 20px 200px;
}

.skills-section {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin: 10px;
}